@font-face {
  font-family: "sharp-grotesk";
  font-weight: 400;
  src: url("../fonts/SharpGroteskBook19.ttf");
}

@font-face {
  font-family: "sharp-grotesk";
  font-weight: 700;
  src: url("../fonts/SharpGroteskSmBold18.ttf");
}

@font-face {
  font-family: "roboto-mono";
  font-weight: 300;
  src: url("../fonts/RobotoMono-Light.ttf");
}

body {
  margin: 0;
  font-family: "sharp-grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: #f5f0f3;
}

input {
  font-family: "sharp-grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

::placeholder {
  color: #b8b4b4;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .checktext {
  color: #000000;
}
